<mat-list role="list" class="flex">
  <mat-list-item role="listitem">Sorting by:</mat-list-item>
  <mat-list-item role="listitem">
    <button mat-flat-button color="accent">date</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button
      mat-flat-button color="accent"
      (click)="toggleClick()"
      >count of views</button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <app-input
      (valueChange)="pipeValueChange($event)"
      [value]="value"
      ></app-input>
  </mat-list-item>
</mat-list>
