<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex container">
  <p class="login-info"
  [ngStyle]="{'color': isLogin ? 'var(--primary)' : (isProcess ? 'var(--accent)' : 'var(--warn)') }">{{message}}</p>
  <mat-card class="card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content class="content">
      <mat-form-field hintLabel="Max 10 characters" appearance="standard">
        <mat-label>Login</mat-label>
        <input matInput #input maxlength="10"
          formControlName="username"
          type="text"
          placeholder="test"
          autocomplete="off"
        >
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
          type="password"
          formControlName="password"
          placeholder="test"
        >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="btn">
      <button [disabled]="loading"
        mat-raised-button
        color="warn"
        type="submit"
        *ngIf="!isLogin"
      >Login</button>
    </mat-card-actions>
  </mat-card>
</form>
