<mat-toolbar color="accent" class="container">
  <app-header
    (changeFilterComponent)="toggleFilterComponent = !toggleFilterComponent"
    class="header"
    [(fetched)]="fetched"
  ></app-header>
  <app-list
    *ngIf="toggleFilterComponent"
    (valueChange)="pipeValueChange($event)"
    (isClickingCountOfViewsChange)="toggleClickCountOfViews($event)"
    (isClickingDateChange)="toggleClickDate($event)"
    ></app-list>
</mat-toolbar>
<app-result
  [value]="value"
  *ngIf="fetched"
  [isClickingCountOfViews]="isClickingCountOfViews"
  [isClickingDate]="isClickingDate"
  class="container main"
  ></app-result>
