.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
