<ng-container
  *ngIf="podcast$ | async as podcast; else loading"
>
  <div class="container">
    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="goBack()"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <mat-card class="card">
      <mat-card-actions>
        <img mat-card-image src={{podcast.preview}} alt="preview podcast">
      </mat-card-actions>
      <article class="article">
        <header class="header">
          <h2 class="header-title">{{podcast.title}}</h2>
          <time class="header-time">{{podcast. publishedAt | date: 'fullDate'}}</time>
        </header>
        <mat-card-content>
          <h3>Description</h3>
          <p>{{podcast.description}}</p>
        </mat-card-content>
        <app-statistics-view [podcast]="podcast" class="app-statistics-view"></app-statistics-view>
      </article>
    </mat-card>
  </div>
</ng-container>

<ng-template #loading>
  Loading stuff...
</ng-template>
