<mat-toolbar color="accent" class="container">
  <app-filter-criteria-block
    *ngIf="toggleFilterComponent"
    (valueThatUserTypesChange)="valueThatUserTypes = $event"
    (isClickingCountOfViewsChange)="toggleClickCountOfViews($event)"
    (isClickingDateChange)="toggleClickDate($event)"
  ></app-filter-criteria-block>
</mat-toolbar>
<app-result
  [valueThatUserTypes]="valueThatUserTypes"
  [isClickingCountOfViews]="isClickingCountOfViews"
  [isClickingDate]="isClickingDate"
  [podcasts]="podcasts$ | async"
  [loading]="loading$ | async"
  class="container main"
></app-result>
